################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Property_API/.vs/Property_API/v16/Server/sqlite3/db.lock
